<div class="main portfolio">
	<div class="jumbotron slideshow">
		<div class="banner">
			<ul>
				<li><%= image_tag "armando06.png" %></li>
				<li><%= image_tag "forecast03.png" %></li>
				<li><%= image_tag "madisonsquare04.png" %></li>
				<li><%= image_tag "milfordschool02.png" %></li>
				<li><%= image_tag "speakeasy01.png" %></li>
				<li><%= image_tag "threadly05.png" %></li>
			</ul>
		</div>
	</div>
	
</div>

<div class="supporting">
	<div class="container">

		<div class="row">
			<div class="col-xs-4">
				<a class="thumbnail">
					<%= image_tag ".png" %>
				</a>	
				<h2>Title</h2>
				<p>Description</p>
			</div>

			


		</div>


		<div class="row">


		</div>


		<div class="row">


		</div>
	</div>

</div>