<div class="main portfolio">
	<div class="jumbotron slideshow">
		<div class="banner">
			<ul>
				<li><%= image_tag "armando06-poster.png" %></li>
				<li><%= image_tag "forecast03-poster.png" %></li>
				<li><%= image_tag "madisonsquare04-poster.png" %></li>
				<li><%= image_tag "milfordschool02-poster.png" %></li>
				<li><%= image_tag "speakeasy01-poster.png" %></li>
				<li><%= image_tag "threadly05-poster.png" %></li>
			</ul>
		</div>
	</div>
	
</div>

<div class="supporting">
	<div class="container">

		<div class="row">
			<div class="col-xs-4">
				<a class="thumbnail">
					<%= image_tag "armando06-web.png" %>
				</a>	
				<h2>Armando</h2>
				<p>Description</p>
			</div>

			<div class="col-xs-4">
				<a class="thumbnail">
					<%= image_tag "forecast03-web.png" %>
				</a>	
				<h2>Forecast</h2>
				<p>Description</p>
			</div>

			<div class="col-xs-4">
				<a class="thumbnail">
					<%= image_tag "madisonsquare04-web.png" %>
				</a>	
				<h2>Madison Square Market</h2>
				<p>Description</p>
			</div>

			<div class="col-xs-4">
				<a class="thumbnail">
					<%= image_tag "milfordschool02-web.png" %>
				</a>	
				<h2>Milford School</h2>
				<p>Description</p>
			</div>

			<div class="col-xs-4">
				<a class="thumbnail">
					<%= image_tag "speakeasy01-web.png" %>
				</a>	
				<h2>Speakeasy</h2>
				<p>Description</p>
			</div>

			<div class="col-xs-4">
				<a class="thumbnail">
					<%= image_tag "threadly05-web.png" %>
				</a>	
				<h2>Threadly</h2>
				<p>Description</p>
			</div>

			


		</div><!--/.row-->


		<div class="row">


		</div>


		<div class="row">


		</div>
	</div>

</div>